@font-face {
    font-family: 'Open Sans';
    src: url("assets/fonts/OpenSans-MediumItalic.ttf");
}

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth; 
  }

body {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    background: crimson;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

a {
    text-decoration: none;
    position: relative;
    color: black;
}

.round {
    margin: auto;
    padding: 40px;
    width: 400px;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0;
    min-height: 100vh;
    justify-content: space-between;
    background: coral;
}

.header {
    background: darkslategray;
    position: sticky;
    top: 0px;
    height: 50%;
}

.main {
    display: flex;
    flex-wrap: wrap;
}
.footer {
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px
    
}

.footer-content {

    padding: 0 50px;

}

.section {
    padding: 4%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.section-name {
    margin: auto;
    font-size: 26px;
    font-weight: 600;
}

.section-title {
    font-size: 24px; 
}

.nav-list {
    font-size: 22px;
    font-weight: bolder;
    list-style-type: none;
    /* margin: auto;
    width: 80%; */

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-list:last-child {
    padding-right: 50px;
}

.nav-item a::before {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: darkred;
    transition: 0.5s;
    transform: scaleX(0);
}
.nav-item a:hover:before {
    transform: scaleX(1);
}    

.nav-link {
    padding: 0 10px;
    line-height: 50px;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}